ion-content ion-title {
  margin-top: 10px;
  text-align: left;
}
.btn-group {
  display: flex;
  justify-content: space-evenly;
  margin: 16px;
}

.btn {
  width: 90px;
  height: 90px;
}

.btn-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ion-button {
  --background: purple;
  --background-hover: #9370DB;
  --background-activated: #9370DB;
  --background-focused: #9370DB;
  --border-radius: 35px;
}

.equal-height-cards {
  display: flex;
  flex-wrap: wrap;
}

.equal-height-cards ion-col {
  display: flex;
  flex: 1;
}

.equal-card {
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.equal-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}